.footer {
  background-color: $grey-blue;
  position: relative;
  padding: 2rem 0 0 0;
  font-size: 1.3rem;
  max-height: 25rem;
  overflow: hidden;
  & > .row {
    padding-bottom: 2rem !important;
  }
  &-logo-box {
    width: 10rem;
    display: inline-block;
    & img {
      width: inherit;
      opacity: 0.5;
      border-radius: 2px;
      transform: translateX(-50%);
    }
  }
  @include responsiveFor(phone) {
    max-height: 40rem;
  }
  &-navigation {
    border-top: 1px solid $gradient-skyblue;
    padding: 2rem 0;
    display: inline-block;
  }
  &-ul {
  }
  &-item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
  &-link {
    &:visited,
    &:link {
      color: $gradient-skyblue;
      text-transform: uppercase;
      display: inline-block;
      transition: all 0.2s;
    }
    &:hover,
    &:visited {
      color: $gradient-skyblue;
      box-shadow: 0 1rem 2rem $black-shadow;
      transform: rotate(5deg) scale(1.2);
    }
  }
  &-copyright {
    padding: 2rem 0;
    display: inline-block;
    border-top: 1px solid $gradient-skyblue;
    text-align: right;
    & strong {
      padding-left: 2rem;
    }
  }
}
