.row {
  max-width: $grid-width;
  margin: 0 auto;
  margin-bottom: $grid-horizontal-space;
  &:not(:last-child) {
    margin-bottom: $grid-horizontal-space;
    @include responsiveFor(tab-portrait) {
      margin-bottom: $grid-small-space; // so to overwrite the stuff below
    }
  }

  @include responsiveFor(tab-portrait) {
    max-width: 70%;
  }

  @include clearfix;

  [class^="col-"] {
    //all classes starting with col- are affected to this styles
    float: left;
    &:not(:last-child) {
      margin-right: $grid-vertical-space;
      @include responsiveFor(tab-portrait) {
        margin-right: 0;
      }
    }

    @include responsiveFor(tab-portrait) {
      width: 100% !important; // so to overwrite the stuff below
      margin: 2rem 0;
    }
  }

  .col-1-2 {
    width: calc((100% - #{$grid-vertical-space}) / 2);
  }

  .col-1-3 {
    width: calc((100% - 2 * #{$grid-vertical-space}) / 3);
  }
  .col-1-4 {
    width: calc((100% - 3 *#{$grid-vertical-space}) / 4);
  }
}
