.header {
  height: 98vh;
  background-image: $gradient-primary, url(../img/backgroundHeader.jpg);
  background-size: cover;
  background-position: top; /* stick image at top*/

  -webkit-clip-path: polygon(
    0 0,
    100% 0,
    100% 95%,
    72% 90%,
    58% 71%,
    40% 87%,
    0 80%
  );

  clip-path: polygon(0 0, 100% 0, 100% 100%, 72% 95%, 54% 75%, 40% 90%, 0 87%);
  position: relative;
  &_logo-box {
    position: absolute;
    top: 5%;
    left: 5%;
    opacity: 0.7;
  }
  &_logo {
    width: 10vw;
  }
}
