.form {
  padding: 0 6rem;
  &-group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &-input {
    font-size: 1.6rem;
    font-family: inherit;
    font-weight: 400;
    text-shadow: 1px 1px 1px $gradient-sand;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    border: none;
    background-color: rgba($white, 0.7);
    width: 40%;
    transition: all 0.3s;
    @include responsiveFor(tab-portrait) {
      width: calc(100vw - 150% + 40%);
    }
    &:focus {
      outline: none;
      box-shadow: 0 1rem 1.5rem $black-shadow;
      border-bottom: 3px solid rgb(65, 246, 65);
    }
    &:focus:invalid {
      border-bottom: 3px solid $gradient-red;
    }
    &::-webkit-input-placeholder {
      // if the color of the placeholder should be different
      color: $grey-blue;
    }
  }

  &-input:placeholder-shown + &-label {
    // selecting the direct sibling of the label, direct after the input
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &-label {
    font-weight: 800;
    font-size: 1.4rem;
    margin: 1rem auto auto 2rem;
    text-shadow: -1px -1px 1px white;
    display: block;
    transition: all 0.3s;
  }
  &-radio-group {
    width: 20%;
    display: inline-block;
    margin-left: 1rem;
    &:last-child {
      @include responsiveFor(tab-portrait) {
        margin-left: 50%;
      }
    }
  }
  &-radio-label {
    font-size: $font-16;
    cursor: pointer;
    position: relative;
    padding-left: 2rem;
    margin-top: -5px;
    color: #56c24d;
    text-shadow: 1px 1px 1px darkgreen;
  }
  &-radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid $gradient-completion-sand;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: -2.3rem;
    top: -0.5rem;
    &::after {
      content: "";
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      background-color: $gradient-completion-sand;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 25%) scale(0);
      transition: all 0.3s cubic-bezier(0.82, 0.04, 0.68, 1.53);
      @include responsiveFor(tab-portrait) {
        height: 1.2rem;
        width: 1.2rem;
      }
    }
  }
  &-radio:checked ~ &-radio-label &-radio-button::after {
    // when input checked, select sibling radio label and target the child with fprm-radio-button class
    transform: translate(25%, 25%) scale(1);
  }
  &-radio {
    visibility: hidden;
  }
  & button {
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid #b0deb0;
    margin-bottom: 4rem;
  }
}
