.seciton-about {
  color: $gray-text;
  background-color: $simil-white;
  padding: 18rem 0; // to have space pushing up the section
  margin-top: -25vh;
}
.info-section {
  padding: 5rem 0;
  background-image: $gradient-primary, url("../img/alpine-section-features.jpg");
  background-position: top left;
  margin-top: -10rem;
  transform: skewy(4deg);
  & > .row {
    margin: 4rem auto;
    transform: skewY(-4deg);
  }
}
.section-offers {
  color: $gray-text;
  background-color: $simil-white;
  padding: 10rem 0;
  text-align: center;
  margin-top: -6rem;
  & > .row {
    margin: 0 auto;
  }
}

.section-review {
  padding: 2rem 0 4rem 0;
  background: rgba($white, 0.5);
  position: relative;
  overflow: hidden;
}
