.seciton-about {
  color: $gray-text;
  background-color: $simil-white;
  padding: 18rem 0; // to have space pushing up the section
  margin-top: -25vh;
}
.info-section {
  padding: 5rem 0;
  background-image: $gradient-primary, url("../img/alpine-section-features.jpg");
  background-position: top left;
  margin-top: -10rem;
  transform: skewy(4deg);
  & > .row {
    margin: 4rem auto;
    transform: skewY(-4deg);
  }
}
.section-offers {
  color: $gray-text;
  background-color: $simil-white;
  padding: 10rem 0;
  text-align: center;
  margin-top: -6rem;
  & > .row {
    margin: 0 auto;
  }
}

.section-review {
  padding: 2rem 0 0 0;
  background: rgba($white, 0.5);
  position: relative;
  overflow: hidden;
}
.section-booking {
  padding: 10rem 0 2rem 0;
  margin-top: -1rem;
  background-image: linear-gradient(
    to bottom,
    white,
    rgb(221, 255, 255),
    white
  );
}
.booking {
  box-shadow: 0 1rem 5rem $black-shadow;
  background-image: linear-gradient(
      105deg,
      rgba($white, 0.8) 0%,
      rgba($white, 0.5) 50%,
      transparent 50%,
      transparent 100%
    ),
    url(../img/alpine-section-features.jpg);
  position: relative;
  background-size: cover;
  height: 50rem;
  background-position: right;
  border-radius: 2px;
}
